@using HospitalAdmin.Data.Models
@using HospitalAdmin.Services.Interfaces

@inject IDoctorService doctorService
@inject NavigationManager navigation

@page "/register-doctor/{Id:long}"

<PageTitle>Gerenciar médicos</PageTitle>

<h2>Gerenciar médicos</h2>

<div class="card card-custom mt-6">
    <EditForm Model="doctorModel" OnValidSubmit="OnFormSubmit">
        <div class="card-body">
            <div class="form-group">
                <h5 class="mb-3">Cadastrar médico</h5>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <InputText class="form-control" placeholder="Nome do médico" @bind-Value="doctorModel.Name" />
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <InputText class="form-control" placeholder="Email do médico" @bind-Value="doctorModel.Email" />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-secondary" @onclick="CancelButton">Cancelar</button>

                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>

            </div>
        </div>
    </EditForm>

</div>


@code {

    [Parameter]
    public long Id { get; set; }

    private DoctorModel doctorModel = new();

    protected override async Task OnInitializedAsync()
    {
        if(Id >0)
        {
            doctorModel = await doctorService.GetDoctorByIdAsync(Id);
            StateHasChanged();
        }
    }

    private async Task OnFormSubmit()
    {
        if(Id == 0)
        {
            await doctorService.AddDoctor(doctorModel);
            navigation.NavigateTo("/");
        }
        else
        {
            await doctorService.UpdateDoctor(doctorModel);
            navigation.NavigateTo("/");
        }
        await Task.CompletedTask;
    }

    private void CancelButton() => navigation.NavigateTo("/");
}
